In [5]:
##4.1
def even(n):
    for i in range(2, n+1):
        if i%2 == 0 or i%3 == 0: 
            print(i, end=', ') 
even(17)

2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16,

In [12]:
##4.2
s ="0123456789"
s[2:5],s[7:9],s[2:5],s[7:9],s[7:],s[-3:]

('234', '78', '234', '78', '789', '789')

In [13]:
##4.3
forecast=("It will be a sunny day today")
count=forecast.count('day')
weather=forecast.find('sunny')
change=forecast.replace('sunny','cloudy')
print("occurance :",count)
print("number :",weather)
print("After replacement:",change)

occurance : 2
number : 13
After replacement: It will be a cloudy day today

In [58]:
##4.5
first=("mohsin")
last=("Alam")
number=("03128491915")
city=("karachi")
street=("gulberg town")
state=("pakistan")
zipcode=("7459")
fstring = '{} {} \n{} {} \n{}, {} {}' 
print(fstring.format,(first,last,number,street,city,state,zipcode))

<built-in method format of str object at 0x000000845B0E2120> ('mohsin', 'Alam', '03128491915', 'gulberg town', 'karachi', 'pakistan', '7459')

In [55]:
##4.6
import time
time.localtime()

time.strftime('%I:%M %p %Z Central Daylight Time on %m/%d/%Y', time.localtime())

'01:15 AM Pacific Standard Time Central Daylight Time on 12/04/2019'

In [56]:
##4.7
time.strftime('%A %b/%d/%y %I:%M %p', time.localtime())

'Wednesday Dec/04/19 01:16 AM'

In [57]:
##4.8
time.strftime('I will meet you on %a %B %d at %I:%M %p.',time.localtime() )

'I will meet you on Wed December 04 at 01:16 AM.'

In [3]:
##4.9
print("i      i**2     i**3   2**i" ) 
for i in range(1,13):
    print(i, i**2, i**3, 2**i, sep="\t")

i      i**2     i**3   2**i
1	1	1	2
2	4	8	4
3	9	27	8
4	16	64	16
5	25	125	32
6	36	216	64
7	49	343	128
8	64	512	256
9	81	729	512
10	100	1000	1024
11	121	1331	2048
12	144	1728	4096

In [12]:
##4.10
infile=open('mohsin.txt')
infile.read()
infile.close

'The 3 lines in this file end with the new line character. \n \nThere is a blank line above this line. '

In [46]:
##4.11
def numChars(mohsin): 
    infile = open(mohsin, 'r') 
    content = infile.read() 
    infile.close() 
    return len(content)
numChars('mohsin.txt')

100

In [53]:
##4.12
def numwords(mohsin): 
    infile = open(mohsin, 'r') 
    content = infile.read() 
    infile.close()
    
    wordlist=content.split()
    print(wordlist)
    return len(wordlist)
numwords('mohsin.txt')

['The', '3', 'lines', 'in', 'this', 'file', 'end', 'with', 'the', 'new', 'line', 'character.', 'There', 'is', 'a', 'blank', 'line', 'above', 'this', 'line.']

20

In [55]:
##4.13
def linewords(mohsin): 
    infile = open(mohsin, 'r') 
    linelist = infile.read() 
    infile.close()
    
    print(linelist)
    return len(linelist)
linewords('mohsin.txt')

The 3 lines in this file end with the new line character.

There is a blank line above this line.

100

In [67]:
##4.14
students = [] 
students.append(['DeMoines', 'Jim', 'Sophomore', 3.45])
students.append(['Pierre', 'Sophie', 'Sophomore', 4.0])
students.append(['Columbus', 'Maria', 'Senior', 2.5]) 
students.append(['Phoenix', 'River', 'Junior', 2.45])
students.append(['Olympis', 'Edgar', 'Junior', 3.99])
print('Last      First      Class     AverageGrade')
for student in students:
    print('{:10}{:10}{:10} {:8.2f}'.format(student[0],student[1], student[2], student[3]))

Last      First      Class     AverageGrade
DeMoines  Jim       Sophomore      3.45
Pierre    Sophie    Sophomore      4.00
Columbus  Maria     Senior         2.50
Phoenix   River     Junior         2.45
Olympis   Edgar     Junior         3.99

In [72]:
##4.15
def words(mohsin):
    'returns the list of words in file filename' 
    infile = open(mohsin, 'r')
    content = infile.read() 
    infile.close() 
    table = str.maketrans('!,.:;?', 6*' ')
    content=content.translate(table)
    content=content.upper()
    return content.split() 
words('mohsin.txt')

['THE',
 '3',
 'LINES',
 'IN',
 'THIS',
 'FILE',
 'END',
 'WITH',
 'THE',
 'NEW',
 'LINE',
 'CHARACTER',
 'THERE',
 'IS',
 'A',
 'BLANK',
 'LINE',
 'ABOVE',
 'THIS',
 'LINE']

In [75]:
##4.16
def myGrep(mohsin, target): 
    'prints every line of file filename containing string target' 
    infile = open(mohsin) 
    for line in infile: 
        if target in line: 
            print(line, end='') 
myGrep('mohsin.txt','line')

The 3 lines in this file end with the new line character.
There is a blank line above this line.

In [87]:
##4.17
s = 'abcdefghijklmnopqrstuvwxyz'
print("1)",s[0:3])
print("2)",s[1:4])
print("3)",s[3:-2])
print("4)",s[-4:27])

1) abc
2) bcd
3) defghijklmnopqrstuvwx
4) wxyz

In [14]:
##4.18
print('a)', 10, 20, 30 ,40, 50,sep=",")
print('b)', 10, 20, 30 ,40, 50,sep="%")
print('c)', 10, 20, 30 ,40, 50,sep=" ")
print('d)', 10, 20, 30 ,40, 50,sep="-")

a),10,20,30,40,50
b)%10%20%30%40%50
c) 10 20 30 40 50
d)-10-20-30-40-50

In [20]:
##4.19
word1=str(input("Enter the first name : "))
word2=str(input("Enter the second name : "))
word3=str(input("Enter the third name : "))
if word1<word2 and word2<word3:
    print(Ture)
else:
    print(False)

Enter the first name : mohsin
Enter the second name : alam
Enter the third name : tesheen
False

In [39]:
##4.20
s='The secret of this message is that it is secret.'
a=len(s)
print('a)',a)
b=s.count('secret')
print('b)',b)
c=s.replace("secret","******")
print('c)',c)

a) 48
b) 2
c) The ****** of this message is that it is ******.

In [45]:
##4.21
s = '''It was the best of times, it was the worst of times; it
was the age of wisdom, it was the age of foolishness; it was the
epoch of belief, it was the epoch of incredulity; it was ... '''

table = s.maketrans( '.,;\n','    ')
tittle = s.translate(table)
print('a)',tittle)
print("\n")
print('b)',tittle.strip())
print("\n")
print('c)',tittle.lower())
print("\n")
print('d)',tittle.count('it was'))
tittle = tittle.replace('was','is')
print("\n")
print('e)',tittle)
listS = tittle.split()
print("\n")
print('f)',listS)

a) It was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was


b) It was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was


c) it was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was


d) 6


e) It is the best of times  it is the worst of times  it is the age of wisdom  it is the age of foolishness  it is the epoch of belief  it is the epoch of incredulity  it is


f) ['It', 'is', 'the', 'best', 'of', 'times', 'it', 'is', 'the', 'worst', 'of', 'times', 'it', 'is', 'the', 'age', 'of', 'wisdom', 'it', 'is', 'the', 'age', 'of', 'foolishness', 'it', 'is', 'the', 'epoch', 'of', 'belief', 'it', 'is', 'the', 'epoch', 'of', 'incredulity', 'it', 'is']

In [58]:
##4.21
first = 'Marlena'
last = 'Sigel'
middle = 'Mae'
print("a) {1}, {0} {2}".format(first,last,middle))
print("b) {1}, {0} {2}.".format(first,last,middle[0]))
print("c) {0}, {2}. {1}".format(first,last,middle[0:2]))
print("d) {0}. {2}. {1}".format(first[0],last,middle[0]))
print("e) {1}, {0}.".format(first[0],last))

a) Sigel, Marlena Mae
b) Sigel, Marlena M.
c) Marlena, Ma. Sigel
d) M. M. Sigel
e) Sigel, M.

In [59]:
##4.23
sender = 'tim@abc.com'
recipient = 'tom@xyz.org'
subject = 'Hello!'
print("from: {0}\nTo : {1}\nsubject :{2}".format(sender,recipient,subject))

from: tim@abc.com
To : tom@xyz.org
subject :Hello!